<template>
  <div>
    <ul class="list-reset flex border-b">
      <li class="-mb-px mr-1">
        <a
          class="
        bg-white
        inline-block
        border-l border-t border-r
        rounded-t
        py-2
        px-4
        font-semibold
        hover:text-purple-500
        focus:outline-none
      "
          href="#"
        >Active</a>
      </li>
      <li class="mr-1">
        <a
          class="
        bg-white
        inline-block
        py-2
        px-4
        hover:text-blue-darker hover:text-purple-500
        focus:outline-none
      "
          href="#"
        >Tab</a>
      </li>
      <li class="mr-1">
        <a
          class="
        bg-white
        inline-block
        py-2
        px-4
        hover:text-blue-darker hover:text-purple-500
        focus:outline-none
      "
          href="#"
        >Tab</a>
      </li>
      <li class="mr-1">
        <a class="bg-white inline-block py-2 px-4" href="#">Tab</a>
      </li>
    </ul>
    <div
      class="
    container
    w-full
    p-20
    mx-auto
    text-center
    bg-white
    border-2 border-t-0 border-gray-300 border-dashed
    h-96
    rounded-xl rounded-t-none
  "
    >
      <p class="mt-20 italic text-gray-500 text-md">
        -- Content of your page --
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TabDefault'
}
</script>

<style scoped>

</style>
