<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div class="bg-gray-50">
  <header class="relative bg-white shadow-sm">
    <nav aria-label="Top" class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <div class="px-4 pb-14 sm:px-0 sm:pb-0">
        <div class="h-16 flex items-center justify-between">
          <!-- Logo -->
          <div class="flex-1 flex">
            <a href="#">
              <span class="sr-only">Workflow</span>
              <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark.svg?color=indigo&shade=600" alt="">
            </a>
          </div>

          <!-- Flyout menus -->
          <div class="absolute bottom-0 inset-x-0 sm:static sm:flex-1 sm:self-stretch">
            <div class="border-t h-14 px-4 flex space-x-8 overflow-x-auto pb-px sm:h-full sm:border-t-0 sm:justify-center sm:overflow-visible sm:pb-0">
              <div class="flex">
                <div class="relative flex">
                  <!-- Item active: "border-indigo-600 text-indigo-600", Item inactive: "border-transparent text-gray-700 hover:text-gray-800" -->
                  <button type="button" class="border-transparent text-gray-700 hover:text-gray-800 relative z-10 flex items-center transition-colors ease-out duration-200 text-sm font-medium border-b-2 -mb-px pt-px" aria-expanded="false">
                    Women
                  </button>
                </div>

                <!--
                  'Women' flyout menu, show/hide based on flyout menu state.

                  Entering: "transition ease-out duration-200"
                    From: "opacity-0"
                    To: "opacity-100"
                  Leaving: "transition ease-in duration-150"
                    From: "opacity-100"
                    To: "opacity-0"
                -->
                <div class="absolute top-full inset-x-0 bg-white text-gray-500 sm:text-sm">
                  <!-- Presentational element used to render the bottom shadow, if we put the shadow on the actual panel it pokes out the top, so we use this shorter element to hide the top of the shadow -->
                  <div class="absolute inset-0 top-1/2 bg-white shadow" aria-hidden="true"></div>
                  <!-- Fake border when menu is open -->
                  <div class="absolute inset-0 -top-px h-px max-w-7xl mx-auto sm:top-0 sm:px-6 lg:px-8" aria-hidden="true">
                    <!-- Open: "bg-gray-200", Closed: "bg-transparent" -->
                    <div class="bg-transparent w-full h-px transition-colors ease-out duration-200"></div>
                  </div>

                  <div class="relative">
                    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                      <div class="grid grid-cols-1 items-start gap-y-10 gap-x-6 pt-10 pb-12 md:grid-cols-2 lg:gap-x-8">
                        <div class="grid grid-cols-1 gap-y-10 gap-x-6 lg:gap-x-8">
                          <div>
                            <p id="clothing-heading" class="font-medium text-gray-900">
                              Clothing
                            </p>
                            <div class="mt-4 border-t border-gray-200 pt-6 sm:grid sm:grid-cols-2 sm:gap-x-6">
                              <ul role="list" aria-labelledby="clothing-heading" class="space-y-6 sm:space-y-4">
                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    Tops
                                  </a>
                                </li>

                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    Dresses
                                  </a>
                                </li>

                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    Pants
                                  </a>
                                </li>

                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    Denim
                                  </a>
                                </li>

                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    Sweaters
                                  </a>
                                </li>

                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    T-Shirts
                                  </a>
                                </li>
                              </ul>
                              <ul role="list" aria-label="More clothing" class="mt-6 space-y-6 sm:mt-0 sm:space-y-4">
                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    Jackets
                                  </a>
                                </li>

                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    Activewear
                                  </a>
                                </li>

                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    Shorts
                                  </a>
                                </li>

                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    Swimwear
                                  </a>
                                </li>

                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    Browse All
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:gap-x-8">
                          <div>
                            <p id="accessories-heading" class="font-medium text-gray-900">
                              Accessories
                            </p>
                            <ul role="list" aria-labelledby="accessories-heading" class="mt-4 border-t border-gray-200 pt-6 space-y-6 sm:space-y-4">
                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">
                                  Shoes
                                </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">
                                  Jewelry
                                </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">
                                  Handbags
                                </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">
                                  Socks
                                </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">
                                  Hats
                                </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">
                                  Browse All
                                </a>
                              </li>
                            </ul>
                          </div>
                          <div>
                            <p id="categories-heading" class="font-medium text-gray-900">
                              Categories
                            </p>
                            <ul role="list" aria-labelledby="categories-heading" class="mt-4 border-t border-gray-200 pt-6 space-y-6 sm:space-y-4">
                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">
                                  New Arrivals
                                </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">
                                  Sale
                                </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">
                                  Basic Tees
                                </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">
                                  Artwork Tees
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex">
                <div class="relative flex">
                  <!-- Item active: "border-indigo-600 text-indigo-600", Item inactive: "border-transparent text-gray-700 hover:text-gray-800" -->
                  <button type="button" class="border-transparent text-gray-700 hover:text-gray-800 relative z-10 flex items-center transition-colors ease-out duration-200 text-sm font-medium border-b-2 -mb-px pt-px" aria-expanded="false">
                    Men
                  </button>
                </div>

                <!--
                  'Men' flyout menu, show/hide based on flyout menu state.

                  Entering: "transition ease-out duration-200"
                    From: "opacity-0"
                    To: "opacity-100"
                  Leaving: "transition ease-in duration-150"
                    From: "opacity-100"
                    To: "opacity-0"
                -->
                <div class="absolute top-full inset-x-0 bg-white text-gray-500 sm:text-sm">
                  <!-- Presentational element used to render the bottom shadow, if we put the shadow on the actual panel it pokes out the top, so we use this shorter element to hide the top of the shadow -->
                  <div class="absolute inset-0 top-1/2 bg-white shadow" aria-hidden="true"></div>
                  <!-- Fake border when menu is open -->
                  <div class="absolute inset-0 -top-px h-px max-w-7xl mx-auto sm:top-0 sm:px-6 lg:px-8" aria-hidden="true">
                    <!-- Open: "bg-gray-200", Closed: "bg-transparent" -->
                    <div class="bg-transparent w-full h-px transition-colors ease-out duration-200"></div>
                  </div>

                  <div class="relative">
                    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                      <div class="grid grid-cols-1 items-start gap-y-10 gap-x-6 pt-10 pb-12 md:grid-cols-2 lg:gap-x-8">
                        <div class="grid grid-cols-1 gap-y-10 gap-x-6 lg:gap-x-8">
                          <div>
                            <p id="clothing-heading" class="font-medium text-gray-900">
                              Clothing
                            </p>
                            <div class="mt-4 border-t border-gray-200 pt-6 sm:grid sm:grid-cols-2 sm:gap-x-6">
                              <ul role="list" aria-labelledby="clothing-heading" class="space-y-6 sm:space-y-4">
                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    Dress Shirts
                                  </a>
                                </li>

                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    Pants
                                  </a>
                                </li>

                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    Jackets
                                  </a>
                                </li>

                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    T-Shirts
                                  </a>
                                </li>

                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    Jeans
                                  </a>
                                </li>

                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    Hoodies
                                  </a>
                                </li>
                              </ul>
                              <ul role="list" aria-label="More clothing" class="mt-6 space-y-6 sm:mt-0 sm:space-y-4">
                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    Vests
                                  </a>
                                </li>

                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    Kilts
                                  </a>
                                </li>

                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    Outdoors
                                  </a>
                                </li>

                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    Capes
                                  </a>
                                </li>

                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">
                                    Browse All
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:gap-x-8">
                          <div>
                            <p id="accessories-heading" class="font-medium text-gray-900">
                              Accessories
                            </p>
                            <ul role="list" aria-labelledby="accessories-heading" class="mt-4 border-t border-gray-200 pt-6 space-y-6 sm:space-y-4">
                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">
                                  Watches
                                </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">
                                  Boots
                                </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">
                                  Fanny Packs
                                </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">
                                  Sunglasses
                                </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">
                                  Browse All
                                </a>
                              </li>
                            </ul>
                          </div>
                          <div>
                            <p id="categories-heading" class="font-medium text-gray-900">
                              Categories
                            </p>
                            <ul role="list" aria-labelledby="categories-heading" class="mt-4 border-t border-gray-200 pt-6 space-y-6 sm:space-y-4">
                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">
                                  Just Added
                                </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">
                                  Clearance
                                </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">
                                  Graphic Tees
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <a href="#" class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800">Company</a>

              <a href="#" class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800">Stores</a>
            </div>
          </div>

          <div class="flex-1 flex items-center justify-end">
            <!-- Search -->
            <a href="#" class="p-2 text-gray-400 hover:text-gray-500">
              <span class="sr-only">Search</span>
              <!-- Heroicon name: outline/search -->
              <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
              </svg>
            </a>

            <!-- Cart -->
            <div class="ml-4 flow-root lg:ml-8">
              <a href="#" class="group -m-2 p-2 flex items-center">
                <!-- Heroicon name: outline/shopping-bag -->
                <svg class="flex-shrink-0 h-6 w-6 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                </svg>
                <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800">0</span>
                <span class="sr-only">items in cart, view bag</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main class="py-24">
    <div class="max-w-7xl mx-auto sm:px-2 lg:px-8">
      <div class="max-w-2xl mx-auto px-4 lg:max-w-4xl lg:px-0">
        <h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">Order history</h1>
        <p class="mt-2 text-sm text-gray-500">Check the status of recent orders, manage returns, and discover similar products.</p>
      </div>
    </div>

    <section aria-labelledby="recent-heading" class="mt-16">
      <h2 id="recent-heading" class="sr-only">Recent orders</h2>
      <div class="max-w-7xl mx-auto sm:px-2 lg:px-8">
        <div class="max-w-2xl mx-auto space-y-8 sm:px-4 lg:max-w-4xl lg:px-0">
          <div class="bg-white border-t border-b border-gray-200 shadow-sm sm:rounded-lg sm:border">
            <h3 class="sr-only">Order placed on <time datetime="2021-07-06">Jul 6, 2021</time></h3>

            <div class="flex items-center p-4 border-b border-gray-200 sm:p-6 sm:grid sm:grid-cols-4 sm:gap-x-6">
              <dl class="flex-1 grid grid-cols-2 gap-x-6 text-sm sm:col-span-3 sm:grid-cols-3 lg:col-span-2">
                <div>
                  <dt class="font-medium text-gray-900">Order number</dt>
                  <dd class="mt-1 text-gray-500">
                    WU88191111
                  </dd>
                </div>
                <div class="hidden sm:block">
                  <dt class="font-medium text-gray-900">Date placed</dt>
                  <dd class="mt-1 text-gray-500">
                    <time datetime="2021-07-06">Jul 6, 2021</time>
                  </dd>
                </div>
                <div>
                  <dt class="font-medium text-gray-900">Total amount</dt>
                  <dd class="mt-1 font-medium text-gray-900">
                    $160.00
                  </dd>
                </div>
              </dl>

              <div class="relative flex justify-end lg:hidden">
                <div class="flex items-center">
                  <button type="button" class="-m-2 p-2 flex items-center text-gray-400 hover:text-gray-500" id="menu-0-button" aria-expanded="false" aria-haspopup="true">
                    <span class="sr-only">Options for order WU88191111</span>
                    <!-- Heroicon name: outline/dots-vertical -->
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                    </svg>
                  </button>
                </div>

                <!--
                  Dropdown menu, show/hide based on menu state.

                  Entering: "transition ease-out duration-100"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                  Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->
                <div class="origin-bottom-right absolute right-0 mt-2 w-40 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-0-button" tabindex="-1">
                  <div class="py-1" role="none">
                    <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                    <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-0-item-0">
                      View
                    </a>
                    <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-0-item-1">
                      Invoice
                    </a>
                  </div>
                </div>
              </div>

              <div class="hidden lg:col-span-2 lg:flex lg:items-center lg:justify-end lg:space-x-4">
                <a href="#" class="flex items-center justify-center bg-white py-2 px-2.5 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                  <span>View Order</span>
                  <span class="sr-only">WU88191111</span>
                </a>
                <a href="#" class="flex items-center justify-center bg-white py-2 px-2.5 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                  <span>View Invoice</span>
                  <span class="sr-only">for order WU88191111</span>
                </a>
              </div>
            </div>

            <!-- product -->
            <h4 class="sr-only">Items</h4>
            <ul role="list" class="divide-y divide-gray-200">
              <li class="p-4 sm:p-6">
                <div class="flex items-center sm:items-start">
                  <div class="flex-shrink-0 w-20 h-20 bg-gray-200 rounded-lg overflow-hidden sm:w-40 sm:h-40">
                    <img src="https://tailwindui.com/img/ecommerce-images/order-history-page-03-product-01.jpg" alt="Moss green canvas compact backpack with double top zipper, zipper front pouch, and matching carry handle and backpack straps." class="w-full h-full object-center object-cover">
                  </div>
                  <div class="flex-1 ml-6 text-sm">
                    <div class="font-medium text-gray-900 sm:flex sm:justify-between">
                      <h5>
                        Micro Backpack
                      </h5>
                      <p class="mt-2 sm:mt-0">
                        $70.00
                      </p>
                    </div>
                    <p class="hidden text-gray-500 sm:block sm:mt-2">
                      Are you a minimalist looking for a compact carry option? The Micro Backpack is the perfect size for your essential everyday carry items. Wear it like a backpack or carry it like a satchel for all-day use.
                    </p>
                  </div>
                </div>

                <div class="mt-6 sm:flex sm:justify-between">
                  <div class="flex items-center">
                    <!-- Heroicon name: solid/check-circle -->
                    <svg class="w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                    <p class="ml-2 text-sm font-medium text-gray-500">Delivered on <time datetime="2021-07-12">July 12, 2021</time></p>
                  </div>

                  <div class="mt-6 border-t border-gray-200 pt-4 flex items-center space-x-4 divide-x divide-gray-200 text-sm font-medium sm:mt-0 sm:ml-4 sm:border-none sm:pt-0">
                    <div class="flex-1 flex justify-center">
                      <a href="#" class="text-indigo-600 whitespace-nowrap hover:text-indigo-500">View product</a>
                    </div>
                    <div class="flex-1 pl-4 flex justify-center">
                      <a href="#" class="text-indigo-600 whitespace-nowrap hover:text-indigo-500">Buy again</a>
                    </div>
                  </div>
                </div>
              </li>

              <!-- More products... -->
            </ul>
          </div>

          <!-- More orders... -->
        </div>
      </div>
    </section>
  </main>

  <footer aria-labelledby="footer-heading" class="bg-white border-t border-gray-200">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="py-20">
        <div class="grid grid-cols-1 md:grid-cols-12 md:grid-flow-col md:gap-x-8 md:gap-y-16 md:auto-rows-min">
          <!-- Image section -->
          <div class="col-span-1 md:col-span-2 lg:row-start-1 lg:col-start-1">
            <img src="https://tailwindui.com/img/logos/workflow-mark.svg?color=indigo&shade=600" alt="" class="h-8 w-auto">
          </div>

          <!-- Sitemap sections -->
          <div class="mt-10 col-span-6 grid grid-cols-2 gap-8 sm:grid-cols-3 md:mt-0 md:row-start-1 md:col-start-3 md:col-span-8 lg:col-start-2 lg:col-span-6">
            <div class="grid grid-cols-1 gap-y-12 sm:col-span-2 sm:grid-cols-2 sm:gap-x-8">
              <div>
                <h3 class="text-sm font-medium text-gray-900">
                  Products
                </h3>
                <ul role="list" class="mt-6 space-y-6">
                  <li class="text-sm">
                    <a href="#" class="text-gray-500 hover:text-gray-600">
                      Bags
                    </a>
                  </li>

                  <li class="text-sm">
                    <a href="#" class="text-gray-500 hover:text-gray-600">
                      Tees
                    </a>
                  </li>

                  <li class="text-sm">
                    <a href="#" class="text-gray-500 hover:text-gray-600">
                      Objects
                    </a>
                  </li>

                  <li class="text-sm">
                    <a href="#" class="text-gray-500 hover:text-gray-600">
                      Home Goods
                    </a>
                  </li>

                  <li class="text-sm">
                    <a href="#" class="text-gray-500 hover:text-gray-600">
                      Accessories
                    </a>
                  </li>
                </ul>
              </div>
              <div>
                <h3 class="text-sm font-medium text-gray-900">
                  Company
                </h3>
                <ul role="list" class="mt-6 space-y-6">
                  <li class="text-sm">
                    <a href="#" class="text-gray-500 hover:text-gray-600">
                      Who we are
                    </a>
                  </li>

                  <li class="text-sm">
                    <a href="#" class="text-gray-500 hover:text-gray-600">
                      Sustainability
                    </a>
                  </li>

                  <li class="text-sm">
                    <a href="#" class="text-gray-500 hover:text-gray-600">
                      Press
                    </a>
                  </li>

                  <li class="text-sm">
                    <a href="#" class="text-gray-500 hover:text-gray-600">
                      Careers
                    </a>
                  </li>

                  <li class="text-sm">
                    <a href="#" class="text-gray-500 hover:text-gray-600">
                      Terms &amp; Conditions
                    </a>
                  </li>

                  <li class="text-sm">
                    <a href="#" class="text-gray-500 hover:text-gray-600">
                      Privacy
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <h3 class="text-sm font-medium text-gray-900">
                Customer Service
              </h3>
              <ul role="list" class="mt-6 space-y-6">
                <li class="text-sm">
                  <a href="#" class="text-gray-500 hover:text-gray-600">
                    Contact
                  </a>
                </li>

                <li class="text-sm">
                  <a href="#" class="text-gray-500 hover:text-gray-600">
                    Shipping
                  </a>
                </li>

                <li class="text-sm">
                  <a href="#" class="text-gray-500 hover:text-gray-600">
                    Returns
                  </a>
                </li>

                <li class="text-sm">
                  <a href="#" class="text-gray-500 hover:text-gray-600">
                    Warranty
                  </a>
                </li>

                <li class="text-sm">
                  <a href="#" class="text-gray-500 hover:text-gray-600">
                    Secure Payments
                  </a>
                </li>

                <li class="text-sm">
                  <a href="#" class="text-gray-500 hover:text-gray-600">
                    FAQ
                  </a>
                </li>

                <li class="text-sm">
                  <a href="#" class="text-gray-500 hover:text-gray-600">
                    Find a store
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <!-- Newsletter section -->
          <div class="mt-12 md:mt-0 md:row-start-2 md:col-start-3 md:col-span-8 lg:row-start-1 lg:col-start-9 lg:col-span-4">
            <h3 class="text-sm font-medium text-gray-900">Sign up for our newsletter</h3>
            <p class="mt-6 text-sm text-gray-500">The latest deals and savings, sent to your inbox weekly.</p>
            <form class="mt-2 flex sm:max-w-md">
              <label for="email-address" class="sr-only">Email address</label>
              <input id="email-address" type="text" autocomplete="email" required class="appearance-none min-w-0 w-full bg-white border border-gray-300 rounded-md shadow-sm py-2 px-4 text-base text-gray-900 placeholder-gray-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
              <div class="ml-4 flex-shrink-0">
                <button type="submit" class="w-full bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                  Sign up
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="border-t border-gray-100 py-10 text-center">
        <p class="text-sm text-gray-500">&copy; 2021 Workflow, Inc. All rights reserved.</p>
      </div>
    </div>
  </footer>
</div>
