<template>
  <figure class="bg-gray-100 p-3 mx-auto rounded-xl" v-if="data">
    <img class="w-screen rounded-xl h-36 sm:h-36 md:h-36 lg:h-36 rounded-xl mx-auto" src="https://images.unsplash.com/photo-1531804055935-76f44d7c3621?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGhvdG98ZW58MHx8MHx8&w=1000&q=80" alt="">
    <blockquote class="border-b-2 py-3">
      <div class="font-sans">
        <h1 class="mt-2  text-2xl border-b-2 font-bold">
          <nuxt-link :to="`/product/${data.id}`">
            {{ data.name }}
          </nuxt-link>
        </h1>
        <p v-if="data.description" class="font-sans my-5 font-normal  line-clamp-3 truncate whitespace-normal">
          {{ data.description }}
        </p>
      </div>
    </blockquote>
    <figcaption class="flex flex-col justify-center items-end">
      <div class="text-cyan-600 my-4">
        <span>{{ data.price }}</span>
        <span>Դ</span>
      </div>
      <button class=" bg-black text-white p-2 text-sm  rounded">
        Ավելացնել քարտին
      </button>
    </figcaption>
  </figure>
</template>

<script>
export default {
  name: 'CardDefault',
  props: {
    data: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style scoped>

</style>
