<template>
  <div class="container grid gap-4 mx-auto mt-4 px-2 max-w-screen-2xl m-auto mt-10">
    <template v-for="category in categoriesState" v-if="category.product.data.length > 0">
      <div :key="category.slug" class="flex justify-between my-2 border-b-2">
        <div>
          {{ category.name }}
        </div>
        <div>
          <NuxtLink :to="`/category/${category.slug}`">
            view
          </NuxtLink>
        </div>
      </div>
      <div v-for="product in category.product.data" :key="product.id" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-y-10 gap-x-4">
        <Card :data="product" />
      </div>
    </template>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'
import Card from '~/components/Card'
export default {
  name: 'CategoryContent',
  components: {
    Card
  },
  computed: {
    ...mapGetters({
      categoriesState: 'Category/categories'
    })
  }

}
</script>

<style scoped>

</style>
