<template>
  <div class="px-6 w-full">
    <div class="bg-gray-300 h-2 w-full rounded-full relative">
    <span
      class="
        bg-white
        h-4
        w-4
        absolute
        top-0
        -ml-2
        -mt-1
        z-10
        shadow
        rounded-full
        cursor-pointer
      "
      style="left: 50%"
    ></span>
      <span
        class="bg-green-500 h-2 absolute left-0 top-0 rounded-full"
        style="width: 50%"
      ></span>
    </div>
    <div class="flex justify-between mt-2 text-xs text-gray-600"></div>
  </div>
</template>

<script>
export default {
  name: "RangeMarker"
}
</script>

<style scoped>

</style>
