<template>
  <div class="-mr-2 flex md:hidden">
    <!-- Mobile menu button -->
    <button
      @click="toggle"
      class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white"
    >
      <svg
        :class="[isOpen ? 'hidden' : 'block', 'h-6 w-6']"
        stroke="currentColor"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
      <svg
        :class="[isOpen ? 'block' : 'hidden', 'h-6 w-6']"
        stroke="currentColor"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        ></path>
      </svg>
    </button>
  </div>
</template>

<script>
export default {
  name: "MenuToggle",
  data() {
    return {
      isOpen: false
    }
  },
  methods: {
    toggle () {
      this.isOpen = !this.isOpen
      this.$emit('toggle', this.isOpen)
    }
  }
}
</script>

<style scoped>

</style>
