<template>
  <div :class="mainClass">
    <fieldset>
      <legend class="block text-sm font-medium text-gray-900">
        {{ title }}
      </legend>
      <div v-for="(value, key) in data" :key="key" class="pt-6 space-y-3">
        <div class="flex values-center">
          <input
            :id="title.toLowerCase()+key"
            v-model="filters"
            :value="value.value"
            type="checkbox"
            class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500"
            @change="changeInput(filters)"
          >
          <label :for="title.toLowerCase()+key" class="ml-3 text-sm text-gray-600">
            {{ value.value }}
          </label>
        </div>
      </div>
    </fieldset>
  </div>
</template>

<script>

export default {
  name: 'CheckboxFilterDefault',
  props: {
    data: {
      type: Array,
      default: () => []
    },
    title: {
      type: String,
      default: null
    },
    mainClass: {
      type: String,
      default: null
    }

  },
  data () {
    return {
      filters: []
    }
  },
  methods: {
    changeInput (filters) {
      this.$emit('input', filters)
    }
  }

}
</script>

<style scoped>

</style>
