<template>
  <nav class="bg-gray-800 z-10">
<!--    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">-->
<!--      <div class="flex items-center justify-between h-16">-->
<!--        <div class="flex items-center">-->
<!--          <div class="flex-shrink-0">-->
<!--            <NuxtLink to="/">-->
<!--              <img-->
<!--                class="h-8 w-8"-->
<!--                src="https://tailwindui.com/img/logos/workflow-mark-indigo-400.svg"-->
<!--                alt="Workflow logo"-->
<!--              >-->
<!--            </NuxtLink>-->
<!--          </div>-->
<!--          <div class="hidden md:block">-->
<!--            <div class="ml-10 flex items-baseline">-->
<!--              <NuxtLink-->
<!--                to="/"-->
<!--                class="px-3 py-2 rounded-md text-sm font-medium text-white focus:outline-none focus:text-white"-->
<!--              >-->
<!--                Dashboard-->
<!--              </NuxtLink>-->
<!--              <NuxtLink-->
<!--                to="team"-->
<!--                class="ml-4 px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white"-->
<!--              >-->
<!--                Team-->
<!--              </NuxtLink>-->
<!--              <NuxtLink-->
<!--                to="product"-->
<!--                class="ml-4 px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white"-->
<!--              >-->
<!--                Shop-->
<!--              </NuxtLink>-->
<!--              <a-->
<!--                href="#"-->
<!--                class="ml-4 px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white"-->
<!--              >Calendar</a>-->
<!--              <NuxtLink-->
<!--                to="_tailwind"-->
<!--                class="ml-4 px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white"-->
<!--              >-->
<!--                Tailwind-->
<!--              </NuxtLink>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div v-if="auth" class="hidden md:block">-->
<!--          <div class="ml-4 flex items-center md:ml-6">-->
<!--            <nuxt-link to="/cart">-->
<!--              <font-awesome-icon icon="shopping-cart" class="text-gray-100" />-->
<!--            </nuxt-link>-->
<!--            <button-->
<!--              class="p-1 border-2 border-transparent text-gray-400 rounded-full hover:text-white focus:outline-none focus:text-white"-->
<!--              aria-label="Notifications"-->
<!--            >-->
<!--              <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">-->
<!--                <path-->
<!--                  stroke-linecap="round"-->
<!--                  stroke-linejoin="round"-->
<!--                  stroke-width="2"-->
<!--                  d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"-->
<!--                />-->
<!--              </svg>-->
<!--            </button>-->

<!--            &lt;!&ndash; Profile dropdown &ndash;&gt;-->
<!--            <div class="ml-3 relative">-->
<!--              <div>-->
<!--                <button-->
<!--                  id="user-menu"-->
<!--                  class="max-w-xs flex items-center text-sm rounded-full text-white focus:outline-none focus:shadow-solid"-->
<!--                  aria-label="User menu"-->
<!--                  aria-haspopup="true"-->
<!--                  @click="toggle"-->
<!--                >-->
<!--                  <img-->
<!--                    class="h-8 w-8 rounded-full"-->
<!--                    src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"-->
<!--                    alt-->
<!--                  >-->
<!--                </button>-->
<!--              </div>-->
<!--              <transition-->
<!--                enter-active-class="transition ease-out duration-100"-->
<!--                enter-class="transform opacity-0 scale-95"-->
<!--                enter-to-class="transform opacity-100 scale-100"-->
<!--                leave-active-class="transition ease-in duration-75"-->
<!--                leave-class="transform opacity-100 scale-100"-->
<!--                leave-to-class="transform opacity-0 scale-95"-->
<!--              >-->
<!--                <div-->
<!--                  v-show="isOpen"-->
<!--                  class="origin-top-right z-10 absolute right-0 mt-2 w-48 rounded-md shadow-lg"-->
<!--                >-->
<!--                  <div-->
<!--                    class="py-1 rounded-md bg-white shadow-xs"-->
<!--                    role="menu"-->
<!--                    aria-orientation="vertical"-->
<!--                    aria-labelledby="user-menu"-->
<!--                  >-->
<!--                    <a-->
<!--                      href="#"-->
<!--                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"-->
<!--                      role="menuitem"-->
<!--                    >Your Profile</a>-->
<!--                    <nuxt-link class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" to="/order-history">-->
<!--                      Order History-->
<!--                    </nuxt-link>-->
<!--                    <a-->
<!--                      href="#"-->
<!--                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"-->
<!--                      role="menuitem"-->
<!--                    >Settings</a>-->
<!--                    <a-->
<!--                      href="#"-->
<!--                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"-->
<!--                      role="menuitem"-->
<!--                    >Sign out</a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </transition>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div v-else>-->
<!--          <nuxt-link-->
<!--            to="signup"-->
<!--            class="p-5 text-white"-->

<!--          >-->
<!--            Sign up-->
<!--          </nuxt-link>-->
<!--          {{ " " }}-->
<!--          <nuxt-link-->
<!--            class="p-5 text-white"-->
<!--            to="signin"-->
<!--          >-->
<!--            Sign in-->
<!--          </nuxt-link>-->
<!--        </div>-->

<!--        <div class="-mr-2 flex md:hidden">-->
<!--          &lt;!&ndash; Mobile menu button &ndash;&gt;-->
<!--          <button-->
<!--            class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white"-->
<!--            @click="toggle"-->
<!--          >-->
<!--            <svg-->
<!--              :class="[isOpen ? 'hidden' : 'block', 'h-6 w-6']"-->
<!--              stroke="currentColor"-->
<!--              fill="none"-->
<!--              viewBox="0 0 24 24"-->
<!--            >-->
<!--              <path-->
<!--                stroke-linecap="round"-->
<!--                stroke-linejoin="round"-->
<!--                stroke-width="2"-->
<!--                d="M4 6h16M4 12h16M4 18h16"-->
<!--              />-->
<!--            </svg>-->
<!--            <svg-->
<!--              :class="[isOpen ? 'block' : 'hidden', 'h-6 w-6']"-->
<!--              stroke="currentColor"-->
<!--              fill="none"-->
<!--              viewBox="0 0 24 24"-->
<!--            >-->
<!--              <path-->
<!--                stroke-linecap="round"-->
<!--                stroke-linejoin="round"-->
<!--                stroke-width="2"-->
<!--                d="M6 18L18 6M6 6l12 12"-->
<!--              />-->
<!--            </svg>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <header class="relative">
      <nav aria-label="Top">
        <!-- Top navigation -->
        <div class="bg-gray-900">
          <div class="max-w-7xl mx-auto h-10 px-4 flex items-center justify-between sm:px-6 lg:px-8">
            <!-- Currency selector -->
            <div>
            </div>

            <div class="flex items-center space-x-6">
              <nuxt-link to="signin" class="text-sm font-medium text-white hover:text-gray-100">Մուտք գործել</nuxt-link>
              <nuxt-link to="signup" class="text-sm font-medium text-white hover:text-gray-100">Ստեղծել հաշիվ</nuxt-link>
            </div>
          </div>
        </div>

        <!-- Secondary navigation -->
        <div class="bg-white shadow-sm">
          <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="h-16 flex items-center justify-between">
              <!-- Logo (lg+) -->
              <div class="hidden lg:flex-1 lg:flex lg:items-center">
                <nuxt-link to="/" href="#">
                  <span class="sr-only">Workflow</span>
                  <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark.svg?color=indigo&shade=600" alt="">
                </nuxt-link>
              </div>

              <div class="hidden h-full lg:flex">
                <!-- Flyout menus -->
                <div class="px-4 bottom-0 inset-x-0">
                  <div class="h-full flex justify-center space-x-8">
                    <div class="flex">
                      <div class="absolute top-full inset-x-0 bg-white text-sm text-gray-500">
                        <!-- Presentational element used to render the bottom shadow, if we put the shadow on the actual panel it pokes out the top, so we use this shorter element to hide the top of the shadow -->
                        <div class="absolute inset-0 top-1/2 bg-white shadow" aria-hidden="true"></div>
                        <!-- Fake border when menu is open -->
                        <div class="absolute inset-0 top-0 h-px max-w-7xl mx-auto px-8" aria-hidden="true">
                          <!-- Open: "bg-gray-200", Closed: "bg-transparent" -->
                          <div class="bg-transparent w-full h-px transition-colors ease-out duration-200"></div>
                        </div>
                      </div>
                    </div>

                    <NuxtLink
                      to="/"
                      class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800"
                    >
                      Գլխավոր
                    </NuxtLink>
                    <NuxtLink
                      to="team"
                      class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800"
                    >
                      Team
                    </NuxtLink>
                    <NuxtLink
                      to="product"
                      class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800"
                    >
                      Ապրանքներ
                    </NuxtLink>
                    <NuxtLink
                      to="_tailwind"
                      class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800"
                    >
                      Tailwind
                    </NuxtLink>
                  </div>
                </div>
              </div>

              <!-- Mobile menu and search (lg-) -->
              <div class="flex-1 flex items-center lg:hidden">
                <!-- Mobile menu toggle, controls the 'mobileMenuOpen' state. -->
                <button type="button" class="-ml-2 bg-white p-2 rounded-md text-gray-400">
                  <span class="sr-only">Open menu</span>
                  <!-- Heroicon name: outline/menu -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                  </svg>
                </button>

                <!-- Search -->
                <a href="#" class="ml-2 p-2 text-gray-400 hover:text-gray-500">
                  <span class="sr-only">Search</span>
                  <!-- Heroicon name: outline/search -->
                  <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                  </svg>
                </a>
              </div>

              <!-- Logo (lg-) -->
              <a href="#" class="lg:hidden">
                <span class="sr-only">Workflow</span>
                <img src="https://tailwindui.com/img/logos/workflow-mark.svg?color=indigo&shade=600" alt="" class="h-8 w-auto">
              </a>

              <div class="flex-1 flex items-center justify-end">
                <a href="#" class="hidden text-sm font-medium text-gray-700 hover:text-gray-800 lg:block">
                  Search
                </a>

                <div class="flex items-center lg:ml-8">
                  <!-- Help -->
                  <a href="#" class="p-2 text-gray-400 hover:text-gray-500 lg:hidden">
                    <span class="sr-only">Help</span>
                    <!-- Heroicon name: outline/question-mark-circle -->
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                  </a>
                  <a href="#" class="hidden text-sm font-medium text-gray-700 hover:text-gray-800 lg:block">Help</a>

                  <!-- Cart -->
                  <div class="ml-4 flow-root lg:ml-8">
                    <nuxt-link to="/cart" class="group -m-2 p-2 flex items-center">
                      <!-- Heroicon name: outline/shopping-bag -->
                      <svg class="flex-shrink-0 h-6 w-6 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                      </svg>
                      <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800">0</span>
                      <span class="sr-only">items in cart, view bag</span>
                    </nuxt-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!--    <MdNav :is-open="isOpen" />-->
    <magic-navigation-menu :is-open="isOpen" padding="20" />
  </nav>
</template>

<script>
import MagicNavigationMenu from '@/components/Nav/MagicNavigationMenu'
export default {
  name: 'Nav',
  components: {
    MagicNavigationMenu
  },
  data () {
    return {
      isOpen: true,
      auth: false
    }
  },
  methods: {
    toggle () {
      this.isOpen = !this.isOpen
    }
  }
}
</script>

<style scoped>

</style>
