<template>
  <main class="max-w-2xl mx-auto px-4 lg:max-w-7xl lg:px-8">
    <div class="border-b border-gray-200 pt-24 pb-10">
      <h1 class="text-4xl font-extrabold tracking-tight text-gray-900">
        New Arrivals
      </h1>
      <p class="mt-4 text-base text-gray-500">
        Checkout out the latest release of Basic Tees, new and improved with four openings!
      </p>
    </div>
    <div class="pt-12 pb-24 lg:grid lg:grid-cols-3 lg:gap-x-8 xl:grid-cols-4">
      <aside>
        <h2 class="sr-only">
          Filters
        </h2>

        <!-- Mobile filter dialog toggle, controls the 'mobileFilterDialogOpen' state. -->
        <button type="button" class="inline-flex items-center lg:hidden">
          <span class="text-sm font-medium text-gray-700">Filters</span>
          <!-- Heroicon name: solid/plus-sm -->
          <svg class="flex-shrink-0 ml-1 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
        </button>

        <div class="hidden lg:block">
          <form class="divide-y divide-gray-200 space-y-10">
            <CheckboxFilterDefault :data="color" title="Color" />
            <CheckboxFilterDefault :data="category" title="Categories" main-class="pt-10" @input="changeCategories" />
          </form>
        </div>
      </aside>

      <section aria-labelledby="product-heading" class="mt-6 lg:mt-0 lg:col-span-2 xl:col-span-3">
        <h2 id="product-heading" class="sr-only">
          Products
        </h2>

        <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:gap-x-8 xl:grid-cols-3">
          <template v-for="product in productsState" >
            <CardIndex :data="product" :key="product.id" />
          </template>
          <CardIndex />
          <CardIndex />
          <CardIndex />
          <CardIndex />
          <CardIndex />
          <CardIndex />
        </div>
      </section>
    </div>
  </main>
</template>

<script>
import { mapGetters } from 'vuex'
import CardIndex from '../../components/Card'
import DropdownsDefault from '@/components/Dropdowns'
import PaginationDefault from '@/components/Paginations'
import MenuButton from '@/components/Button/MenuToggle'
import Skeleton from '@/components/Skeleton'
import CheckboxFilterDefault from '@/components/ecommerce/components/CheckboxFilter'
import { products } from '@/apollo/Graphql/schema'

export default {
  name: 'Shop',
  components: {
    Skeleton,
    PaginationDefault,
    DropdownsDefault,
    CardIndex,
    MenuButton,
    CheckboxFilterDefault
  },
  computed: {
    ...mapGetters({
      productsState: 'Product/products'
    })
  },
  data () {
    return {
      leftBar: false,
      color: [{ name: 'Red', value: 'red' }, { name: 'Green', value: 'green' }, { name: 'Blue', value: 'blue' }, { name: 'Purple', value: 'purple' }],
      category: [{ name: 'plants', value: 'plants' }, { name: 'Shoes', value: 'shoes' }, { name: 'Jackets', value: 'jackets' }]
    }
  },
  async mounted () {
    const data = await this.$apollo.query({
      query: products
    })
    await this.$store.dispatch('Product/products', data)
  },
  methods: {
    leftCont (type) {
      this.leftBar = type
    },
    changeCategories (value) {
      alert()
      console.log(value)
    }
  }
}
</script>

<style scoped>
@media screen and (-webkit-min-device-pixel-ratio: 0) {

  input[type="range"]::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    cursor: ew-resize;
    background: #FFF;
    box-shadow: -405px 0 0 400px #605E5C;
    border-radius: 50%;

  }
}
</style>
