<template>
  <div class="container grid gap-4 mx-auto mt-4 px-2 max-w-screen-2xl m-auto mt-10">
    <div class="flex justify-between my-2 border-b-2">
      <div>
        <div>
          {{ categoryState.name }}
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-y-10 gap-x-4" v-if="isData(categoryState.product) ">
        <template v-for="product in categoryState.product.data">
          <Card :key="product.id" :data="product" />
        </template>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { category } from '../../apollo/Graphql/schema.gql'
import Card from '~/components/Card'

export default {
  name: 'Id',
  components: {
    Card
  },
  computed: {
    slug () {
      return this.$route.params.id
    },
    ...mapGetters({
      categoryState: 'Category/category'
    })
  },
  async mounted () {
    const data = await this.$apollo.query({
      query: category,
      variables: { slug: this.slug }
    })
    await this.$store.dispatch('Category/category', data)
  },
  methods: {
    isData (data) {
      if (data && data.data.length > 0) { return true } else { return false }
    }
  }
}
</script>

<style scoped>

</style>
