<template>
  <div class="bg-white min-h-screen dark:bg-gray-900">
    <Nav />
    <!--    <Header/>-->
    <main>
      <Nuxt />
    </main>
    <Footer />
  </div>
</template>

<script>
import Footer from '@/components/Footer'
export default {
  name: 'Default',
  components: { Footer }
}
</script>

<style scoped>

</style>
