<template>
  <div class="bg-white dark:bg-gray-900">
    <Slider />
    <CategoryContent />
  </div>
</template>

<script>
import Vue from 'vue'
import { categories } from '../apollo/Graphql/schema.gql'
import CategoryContent from '~/components/Dashboard/CategoryContent.vue'

export default Vue.extend({
  components: { CategoryContent },
  async mounted () {
    const data = await this.$apollo.query({
      query: categories
    }).then(({ data }) => data)
    await this.$store.dispatch('Category/categories', data)
  }
})
</script>
