<template>
  <div :class="[isOpen ? '' : 'hidden', 'md:hidden']" class="fixed navigation items-center justify-center flex bottom-2 bg-white left-0 right-0 m-auto w-11/12 rounded-xl" :style="{width: containerWidth + 'px'}">
    <ul :style="{width: containerWidth + 'px'}">
      <template v-for="(value, key) in data">
        <li :key="key" class="list" :class="{'active': (value.componentName && $route.name === value.componentName)}" :style="{width: liWidth + 'px'}">
          <NuxtLink
            :to="value.path"
          >
            <span v-if="value.icon" class="icon">
              <font-awesome-icon :icon="value.icon" />
            </span>
            <span v-if="value.imgSvg" class="icon" v-html="value.imgSvg" />
            <span class="text">{{ value.name }}</span>
          </NuxtLink>
        </li>
      </template>
      <div
        class="indicator"
        :style="indicator"
      />
    </ul>
  </div>
</template>

<script>
export default {
  name: 'MagicNavigationMenu',
  props: {
    // data: {
    //   type: Array,
    //   default: () => []
    // },
    isOpen: {
      type: Boolean,
      default: false
    },
    padding: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      data: [
        {
          name: 'Home',
          path: '/',
          componentName: 'index',
          icon: 'home'
        },
        {
          name: 'Shop',
          path: '/product',
          componentName: 'shop',
          icon: 'clipboard-list'
        },
        {
          name: 'Cart',
          path: '/',
          componentName: 'cart',
          icon: 'shopping-cart'
        },
        {
          name: 'Message',
          path: '/',
          componentName: 'message',
          icon: 'comment'
        },
        {
          name: 'Account',
          path: '/',
          componentName: 'account',
          icon: 'user'
        }
      ],
      windowWidth: null
    }
  },
  computed: {
    containerWidth () {
      return this.padding ? (this.windowWidth - this.padding) : this.windowWidth
    },
    liWidth () {
      return this.containerWidth / this.data.length
    },
    indicator () {
      const key = this.getKey()
      const str =
        `
        transform: translateX(calc(${this.liWidth}px*${key}));
  -webkit-transform: translateX(calc(${this.liWidth}px*${key}));
  -moz-transform: translateX(calc(${this.liWidth}px*${key}));
  -ms-transform: translateX(calc(${this.liWidth}px*${key}));
  -o-transform: translateX(calc(${this.liWidth}px*${key}));
      `

      return str
    }
  },
  mounted () {
    // window.addEventListener('resize', () => {
    //   this.windowWidth = window.innerWidth
    // })
    this.windowWidth = window.innerWidth
  },
  methods: {
    getKey () {
      let key = 0
      this.data.some((value, index) => {
        if (this.$route.name === value.componentName) {
          key = index
        }
      })
      return key
    }
  }
}
</script>

<style scoped>
.navigation {
  background: #fff;
}

.navigation ul {
  display: flex;
  width: 350px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 60px;
  z-index: 2;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 65px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: #222327;
}

.navigation ul li.active .icon {
  transform: translateY(-32px);
  color: #2196f3;
}

.navigation ul li a .text {
  position: absolute;
  background: #2196f3;
  color: #fff;
  padding: 2px 7px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  opacity: 0;
  transform: translateY(15px);
}

.navigation ul li.active .text {
  transform: translateY(-4px);
  opacity: 1;
}

.indicator {
  position: absolute;
  top: -35px;
  left: 10px;
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  transition: 0.5s;
}

.indicator::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -28px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 15px 18px #fff;
}

.indicator::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -28px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -15px 18px #fff;
}

/*.navigation ul li:nth-child(1).active~.indicator {*/
/*  transform: translateX(calc(70px*0));*/
/*  -webkit-transform: translateX(calc(70px*0));*/
/*  -moz-transform: translateX(calc(70px*0));*/
/*  -ms-transform: translateX(calc(70px*0));*/
/*  -o-transform: translateX(calc(70px*0));*/
/*}*/

/*.navigation ul li:nth-child(2).active~.indicator {*/
/*  transform: translateX(calc(70px*1));*/
/*  -webkit-transform: translateX(calc(70px*1));*/
/*  -moz-transform: translateX(calc(70px*1));*/
/*  -ms-transform: translateX(calc(70px*1));*/
/*  -o-transform: translateX(calc(70px*1));*/
/*}*/

/*.navigation ul li:nth-child(3).active~.indicator {*/
/*  transform: translateX(calc(70px*2));*/
/*  -webkit-transform: translateX(calc(70px*2));*/
/*  -moz-transform: translateX(calc(70px*2));*/
/*  -ms-transform: translateX(calc(70px*2));*/
/*  -o-transform: translateX(calc(70px*2));*/
/*}*/

/*.navigation ul li:nth-child(4).active~.indicator {*/
/*  transform: translateX(calc(70px*3));*/
/*  -webkit-transform: translateX(calc(70px*3));*/
/*  -moz-transform: translateX(calc(70px*3));*/
/*  -ms-transform: translateX(calc(70px*3));*/
/*  -o-transform: translateX(calc(70px*3));*/
/*}*/

/*.navigation ul li:nth-child(5).active~.indicator {*/
/*  transform: translateX(calc(70px*4));*/
/*  -webkit-transform: translateX(calc(70px*4));*/
/*  -moz-transform: translateX(calc(70px*4));*/
/*  -ms-transform: translateX(calc(70px*4));*/
/*  -o-transform: translateX(calc(70px*4));*/
/*}*/
</style>
